GEMINI_API_KEY=
AI_API_KEY=
APP_URL=
INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_BUSINESS_ACCOUNT_ID=
META_API_VERSION=
META_APP_ID=
META_APP_SECRET=
WEBHOOK_VERIFY_TOKEN=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=